
// Converted Variables


// Custom Media Query Variables


@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Sigmar+One");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Chewy");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Shojumaru");
@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC");
@import url("https://fonts.googleapis.com/css?family=Shojumaru");
@import url("https://fonts.googleapis.com/css?family=Bangers");
/*fonts*/
.bangers {
  font-family: "Bangers", cursive;
}
.righteous {
  font-family: "Righteous", cursive;
}
.gloria {
  font-family: "Gloria Hallelujah", cursive;
}
.permanent {
  font-family: "Permanent Marker", cursive;
}
.luckiest {
  font-family: "Luckiest Guy", cursive;
}
.sigmar {
  font-family: "Sigmar One", cursive;
}
.gochi {
  font-family: "Gochi Hand", cursive;
}
.frederick {
  font-family: "Fredericka the Great", cursive;
}
.chewy {
  font-family: "Chewy", cursive;
}
.cabin {
  font-family: "Cabin Sketch", cursive;
}
.sister {
  font-family: "Love Ya Like A Sister", cursive;
}
.IM {
  font-family: "IM Fell English SC", serif;
}
.shojumaru {
  font-family: "Shojumaru", cursive;
}
.display-img {
  width: 60vh;
  height: 70vh;
}
.list-group-item {
  font-size: 100%;
}
.detail_partition {
  border-bottom: 1px dashed rgb(226, 206, 206);
}
.fb-ic:hover,
.tw-ic:hover,
.gplus-ic:hover,
.li-ic:hover,
.ins-ic:hover,
.wis-ic:hover {
  color: #f4511e;
}
.ins-ic {
  border-right: 1px solid gainsboro;
}
