
// Converted Variables

$red: #f00 !default;

// Custom Media Query Variables

$breakpoint-small: '(min-width: 40em)' !default;

.warning {
  color: $red;
}

@media #{$breakpoint-small} {
  .sm-col-6 {
    width: 50%;
  }
}

/* .col-4 { calc( 4 / 12 * 100% ) }; */
